<div>
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
</div>

<div>
  <form action="/users/<%= @user.id %>" method="post">
    <h3>Email:</h3>
    <input type="text" name="users[email]" value="<%= @user.email %>">
    <h3>Password:</h3>
    <input type="password" name="users[password]" placeholder="Password">
    <input type="hidden" name="_method" value="put">
    <input type="submit">
  </form>
</div>

<div>
  <a href="/users">Return Home</a>
</div>
