<div>
  <h2>Users</h2>
  <div>
    <% if session[:user_id] %>
      <form action="/users">
        <input type="hidden" name="log_out" value="true">
        <input type="submit" value="Log Out">
      </form>
      <a href="/edit_profile">Edit Profile</a>
      <a href="/delete_profile">Delete Profile</a>
    <% else %>
      <a href="/login">Login</a>
    <% end %>
  </div>

  <ul>
    <% User.all.each do |user| %>
    <li>
      <a href="/users/<%= user.id %>"><%= user.email %></a>
    </li>
    <% end %>
  </ul>
</div>
