<div>
    <h2>Login</h2>

    <%= form_tag("/authenticate_login", method: "post") do %>
      <h4>Email</h4>
      <input type="text" name="users[email]" placeholder="Email">
      <h4>Password</h4>
      <input type="password" name="users[password]" placeholder="Password">
      <input type="submit" class="btn btn-success">
    <% end %>
    <br>
    <a href="/users/new"><button class="btn btn-primary">Create an account</button></a>
</div>
